<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/csstw/SourceTracking.css" rel="stylesheet" />
    <link href="../static/csstw/nucleo-icons.css" rel="stylesheet" />
    <link href="../static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
   
    <title>Source Tracking</title>
</head>
<body>
    <div class="wrapper">
      <div class="sidebar">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    <div class="logo-img">
                        <img src="../static/img/1.png" />
                    </div>
                </a>
                <a href="#" class="simple-text logo-normal">
                    UnFakeIt
                </a>
            </div>
            <ul class="nav">
                
                <li>
                    <a href="{{url_for('index2')}}">
                        <i class="tim-icons icon-paper"></i>
                        <p>Add Article</p>
                    </a>
                </li>
                
                <li>
                    <a href="{{url_for('show')}}">
                        <i class="tim-icons icon-check-2"></i>
                        <p>Verification</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{{url_for('twitter')}}">
                        <i class="tim-icons icon-zoom-split"></i>
                        <p>Discover</p>
                    </a>
                </li>
                <li>
                  <a href="{{url_for('dashboard')}}">
                      <i class="tim-icons icon-send"></i>
                      <p>Logout</p>
                  </a>
              </li>
            </ul>
        </div>
    </div>
        <div class="main-panel">
          
          <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                
                <a class="navbar-brand" href="javascript:void(0)" style="margin-top:50px;">TWITTER SOURCE</a>
              </div>  
            </div>
          </nav>
          
          <div class="content">
            <div class="row" style="padding-right: 15px;padding-left: 15px;">
              <form action="{{ url_for('twittersearch')}}" method="post">
              <input type="text" style="height:100%; width:300%; border-radius:10px;padding-right: 15px; padding-left: 15px;"name="stext" placeholder="Search">
    
              <input type="submit"style="margin-top:10px; margin-left:10px;" name="submit" value="Search">
              </form>
            </div>
            <br>
            <br>
             
            {% if list is defined %}  
            {% for i in range(list|length) %}
            
            <div class="row">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">News</h5>
                    <p>The Article was searched for {{ list[i][2] }} times</p>
                    <p>This seems to be {{ list[i][3]}}</p>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <p>{{ list[i][0] }}</p>
                            <a target="_blank" href="{{ list[i][1] }}"><input type="button" value="See the Source on Twitter"></a>
                            
                            
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  
                </div>
              </div>
              
            </div>
                      
            {% endfor %}
            {% endif %}
             
          </div>
        </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <ul class="nav">
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              UnFakeIt
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
              Blog
            </a>
          </li>
        </ul>
        <div class="copyright">
       
          <script>
            document.write(new Date().getFullYear())
          </script>&nbsp;made with <i class="tim-icons icon-heart-2"></i> by
          Poseidon for Fake News Detection.
        </div>
      </div>
    </footer>
        
    
</body>
</html>