body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #1e1e2f;
    -webkit-font-smoothing: antialiased;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(34, 42, 66, 0);
}
div {
    display: block;
}
:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --dark: #212529;
    --default: #344675;
    --white: #ffffff;
    --neutral: #ffffff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}
.perfect-scrollbar-on .sidebar, .perfect-scrollbar-on .main-panel {
    height: 100%;
    max-height: 100%;
}
.sidebar, .off-canvas-sidebar {
    background: #ba54f5;
    background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    height: calc(100vh - 90px);
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    display: block;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin-top: 80px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    width: 100%;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    z-index: 4;
    position: relative;
    overflow: auto;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
.sidebar .logo, .off-canvas-sidebar .logo {
    position: relative;
    padding: 0.5rem 0.7rem;
    z-index: 4;
}
.sidebar .logo:after, .off-canvas-sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.5);
}
.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 34px;
    text-align: center;
    margin-left: 10px;
    margin-right: 12px;
}
.sidebar .logo .simple-text, .off-canvas-sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 0.5rem 0;
    display: block;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
}
a {
    color: #e14eca;
    text-decoration: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    border-radius: 0.2857rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
.sidebar .logo a.logo-normal, .off-canvas-sidebar .logo a.logo-normal {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.sidebar .logo:after, .off-canvas-sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background: rgba(255, 255, 255, 0.5);
}
.sidebar .nav, .off-canvas-sidebar .nav {
    margin-top: 20px;
    display: block;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    height: 15px;
    bottom: 0px;
    position: absolute;
}
.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    width: 15px;
    right: 0;
    position: absolute;
}
.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, width .2s ease-in-out;
    -webkit-transition: background-color .2s linear, width .2s ease-in-out;
    width: 6px;
    right: 2px;
    position: absolute;
}
.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color .2s linear, height .2s ease-in-out;
    -webkit-transition: background-color .2s linear, height .2s ease-in-out;
    height: 6px;
    bottom: 2px;
    position: absolute;
}
.perfect-scrollbar-on .sidebar, .perfect-scrollbar-on .main-panel {
    height: 100%;
    max-height: 100%;
}
.sidebar .nav p, .off-canvas-sidebar .nav p {
    margin: 0;
    line-height: 30px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}
p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 5px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
}
.sidebar .nav li>a, .off-canvas-sidebar .nav li>a {
    margin: 10px 15px 0;
    border-radius: 30px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.62475rem;
    padding: 10px 8px;
    line-height: 1.625rem;
}
.sidebar .nav i, .off-canvas-sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
}

@media (min-width: 991px){
.sidebar, .main-panel, .sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
}}


.main-panel {
    position: relative;
    float: right;
    width: 100%;
    min-height: 100vh;
    border-top: 2px solid #e14eca;
    background: linear-gradient(#1e1e2f, #1e1e24);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.perfect-scrollbar-on .sidebar, .perfect-scrollbar-on .main-panel {
    height: 100%;
    max-height: 100%;
}
.main-panel>.navbar {
    margin-bottom: 0;
}
.navbar.navbar-transparent {
    background: transparent !important;
}
.navbar.navbar-absolute {
    position: absolute;
    z-index: 1050;
}
.navbar {
    padding: 10px 30px 10px 15px;
    width: 100%;
    z-index: 1050;
    background: #1a1e34;
}
@media (min-width: 992px){
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0.9375rem;
}
@media (min-width: 992px){
.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
    flex-wrap: nowrap;
}}
.navbar>.container, .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar-brand {
    position: fixed;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    color: #ffffff;
    margin-left: 17px;
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 1rem;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.406813rem;
    padding-bottom: 0.406813rem;
    margin-right: 0.9375rem;
    font-size: 0.99925rem;
    line-height: inherit;
    white-space: nowrap;
}
a {
    color: #e14eca;
    text-decoration: none;
    background-color: transparent;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar .navbar-wrapper {
    display: flex;
    align-items: center;
}
.main-panel>.content {
    padding: 78px 30px 30px 280px;
    min-height: calc(100vh - 70px);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.card {
    background: #27293d;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0.0625rem solid rgba(34, 42, 66, 0.05);
    border-radius: 0.2857rem;
}
.card .card-header:not([data-background-color]) {
    background-color: transparent;
}
.card .card-header {
    padding: 15px 15px 0;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
}
.card-header:first-child {
    border-radius: calc(0.2857rem - 0.0625rem) calc(0.2857rem - 0.0625rem) 0 0;
}
.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #f6f9fc;
    border-bottom: 0.0625rem solid rgba(34, 42, 66, 0.05);
}
h5, .card h6, .card p {
    color: rgba(255, 255, 255, 0.8);
}
.title {
    font-weight: 600;
}
.card .card-body {
    padding: 15px;
}
.card-body {
    padding: 1.25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
}
.pr-md-1, .px-md-1 {
    padding-right: 0.25rem !important;
}
.col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.input-group, .form-group {
    margin-bottom: 10px;
    position: relative;
}

.card form label+.form-control {
    margin-bottom: 20px;
}
.form-group .form-control, .input-group .form-control {
    padding: 10px 18px 10px 18px;
}
textarea.form-control {
    max-width: 100%;
    max-height: 80px;
    padding: 10px 10px 0 0;
    resize: none;
    border: none;
    border-bottom: 1px solid #2b3553;
    border-radius: 0;
    line-height: 2;
}
textarea.form-control {
    height: auto;
}
.form-control {
    border-color: #2b3553;
    border-radius: 0.4285rem;
    font-size: 0.75rem;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.5rem 0.7rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.428571;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #cad1d7;
    border-radius: 0.25rem;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
button, input, optgroup, select, textarea {
    font-family: "Poppins", sans-serif;
}
textarea {
    overflow: auto;
    resize: vertical;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.card .card-footer {
    background-color: transparent;
    border: 0;
    padding: 15px;
}
.card-footer {
    padding: 1.25rem 1.5rem;
    background-color: #f6f9fc;
    border-top: 0.0625rem solid rgba(34, 42, 66, 0.05);
}

.footer {
    padding: 24px 0 24px 250px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.footer .nav {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    padding-left: 30px;
    list-style: none;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.footer .nav-item {
    display: inline-block;
}
ul li, ol li {
    color: #ffffff;
}
.footer .nav-item:first-child a {
    padding-left: 0;
}
.footer .nav-link {
    color: #ffffff;
    padding: 0 0.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.footer .copyright {
    float: right;
    padding-right: 30px;
}
.footer .copyright {
    font-size: 0.75rem;
    line-height: 1.8;
    color: #ffffff;
}
.btn {
    cursor: pointer;
}
.btn-primary {
    background: #e14eca;
    background-image: -webkit-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: -o-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #e14eca;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
}

.btn-primary {
    color: #ffffff;
    background-color: #e14eca;
    border-color: #e14eca;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 11px 40px;
    font-size: 0.875rem;
    line-height: 1.35em;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

